.basic-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.basic-table thead tr {
  background-color: #2C46A6;
  color: #ffffff;
  text-align: left;
}

.basic-table th,
.basic-table td {
    padding: 12px 15px;
}

.basic-table tbody tr {
  border-bottom: 1px solid #d0d0d0;
}

.basic-table tbody tr:nth-of-type(even) {
  background-color: #f0f0f0;
}

.basic-table tbody tr:last-of-type {
  border-bottom: 2px solid #2C46A6;
}